<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="@{/saveProducts}" method="Get">
<input type="text" name="name" class="form-control" placeholder="Введіть назву товару..">
<input type="text" name="desc" class="form-control" placeholder="Введіть опис товару:">
<input type="text" name="weight" class="form-control" placeholder="Введіть вагу товару:">
<input type="text" name="price" class="form-control" placeholder="Введіть ціну товару:">
<button type="submit">Зберегти</button>
</form>

<input type="text">1
<input type="text">1

</body>
</html>