<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> Fast Food - Responsive Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viefsort">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="MobileOptimized" content="320">
		<!-- favicon links-->
     <link rel="icon" type="image/icon" href="favicon.png" />
    <!--start main style -->
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/fonts.css" rel="stylesheet" type="text/css">
    <link href="css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
	<link href="js/plugins/datepicker/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!--section1-start-->
    <section class="fs_menu_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="fs_logo">
                        <a href="index.html">
                            <img src="images/logo.png" alt="" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <nav class="navbar">
                        <div class=" fs_menu_wrapper" style="padding-right:0px;">
                            <div class="menu-expander">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                            <div class="fs_menu">
                                <ul class="ed_element_sorting">
                                    <li><a href="index.html">home</a></li>
                                    <li><a href="about.html">about</a></li>
                                    <li><a href="menu.html">menu</a></li>
                                    <li class="dropdown"><a href="javascript:;" class="ed_link">blog</a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-right.html">blog right sidebar</a></li>
                                            <li><a href="blog-left.html">blog left sidebar</a></li>
                                            <li><a href="blog-single.html">blog single</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">contact</a></li>
                                    <li><a href="" data-toggle="modal" data-target="#myModal">order now</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content order_form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Reservation form</h4>
                    </div>
                    <div class="modal-body">
                        <form class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field">
                                    <i class="fa fa-pencil"></i>
                                    <input class="form-control" type="text" placeholder="Full Name" name="web">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field">
                                    <i class="fa fa-phone"></i>
                                    <input class="form-control" type="text" placeholder="Phone Number" name="web">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field">
                                    <i class="fa fa-envelope-o"></i>
                                    <input class="form-control" type="text" placeholder="Your Email" name="web">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field" id="datepicker">
                                    <i class="fa fa-calendar add-on"></i>
                                    <input class="form-control datepicker" type="text" placeholder="Select date">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field" id="timepicker">
                                    <i class="fa fa-clock-o icon-time add-on"></i>
                                    <input type="text" class="form-control" placeholder="Select time">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-field">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <div class="selected-box">
                                        <div class="select"><select class="select-hidden form-control">
                  <option value="Person">Person</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="2">More then 2</option>
                </select></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-field">
                                    <i class="fa fa-comment-o"></i>
                                    <textarea class="form-control input-message" placeholder="Messages..." rows="2" name="message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="fs_modal_submit-button">
                                    <a class="fs_btn" href="#">Book A Table</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--section2-start-->
    <section class="brd_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>blog single</h1>
                </div>
            </div>
        </div>
    </section>
    <!--section3-start-->
    <div class="fs_blog_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="fs_blog_box">
                                <div class="fs_blog_img">
                                    <img src="http://via.placeholder.com/770x330" alt="" class="img-responsive" />
                                    <div class="news-date">
                                        <div class="date_border">
                                            <div class="date">28 </div>
                                            <div class="month">March</div>
                                            <div class="year">2017</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fs_blog_data">
                                    <h3><a href="#">Best Food Providers In Your Town</a></h3>
                                    <ul class="post-links">
                                        <li><a href="#"><i class="fa fa-user"></i> By:  Michale John</a></li>
                                        <li><a href="#"><i class="fa fa-cutlery"></i> Home made pizza</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> Comments: 8</a></li>
                                    </ul>
                                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.</p>
                                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                                    <div class="social_share">
                                        <span>Share with</span>
                                        <div class="social_links">
                                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="post-comments">
                                        <h3>comments</h3>

                                        <ul class="comments-list">

                                            <li>
                                                <div class="comment-inner">
                                                    <div class="author_img">
                                                        <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
                                                    </div>
                                                    <div class="detail">
                                                        <h6>Toby Jacobs</h6>
                                                        <span class="comment-date"><i class="fa fa-calendar"></i> 20 april, 2017 </span>
                                                        <p>
                                                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                                        </p>
                                                        <a class="comment-reply" href="#"><i class="fa fa-mail-reply-all"></i> reply</a>
                                                    </div>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="comment-inner">
                                                    <div class="author_img">
                                                        <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
                                                    </div>
                                                    <div class="detail">
                                                        <h6>Lee Mason</h6>
                                                        <span class="comment-date"><i class="fa fa-calendar"></i> 20 March, 2017 </span>
                                                        <p>
                                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                                        </p>
                                                        <a class="comment-reply" href="#"><i class="fa fa-mail-reply-all"></i> reply</a>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="comment-inner">
                                                            <div class="author_img">
                                                                <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
                                                            </div>
                                                            <div class="detail">
                                                                <h6>Opal Mccarthy</h6>
                                                                <span class="comment-date"><i class="fa fa-calendar"></i> 20 March, 2017 </span>
                                                                <p>
                                                                    Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                                                </p>
                                                                <a class="comment-reply" href="#"><i class="fa fa-mail-reply-all"></i> reply</a>
                                                            </div>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <div class="comment-inner">
                                                    <div class="author_img">
                                                        <a href="#"><img src="http://via.placeholder.com/100x100" alt=""></a>
                                                    </div>
                                                    <div class="detail">
                                                        <h6>Jaime Ballard</h6>
                                                        <span class="comment-date"><i class="fa fa-calendar"></i> 20 March, 2017 </span>
                                                        <p>
                                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                                        </p>
                                                        <a class="comment-reply" href="#"><i class="fa fa-mail-reply-all"></i> reply</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="separator-post"></div>
                                        <div class="comments-form">
                                            <h3>leave comments</h3>

                                            <form id="comment-form" action="#">
                                                <label for="name">name</label>
                                                <input type="text" name="name" id="name">
                                                <label for="email">email</label>
                                                <input type="email" name="email" id="email">
                                                <label for="subject">subject</label>
                                                <input type="text" name="subject" id="subject">
                                                <label for="message">message</label>
                                                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                                <button type="submit" value="" class="fs_btn ed_submit">post comments</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!----sidebar start---->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="blog-sidebar">
                        <div class="sidebar-widget">
                            <h4>Search here</h4>
                            <div class="widget-search">
                                <i class="fa fa-search"></i>
                                <input type="search" class="form-control placeholder" placeholder="Search....">
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>categories</h4>
                            <div class="widget-link">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Fast food </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Thai </a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Salads</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Drinks</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Sandwiches</a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> Diner</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Recent Posts</h4>
                            <div class="recent-post">
                                <div class="recent-post-image">
                                    <img src="http://via.placeholder.com/70x54" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <a href="#">It is a long established fact that </a>
                                    <span><i class="fa fa-calendar"></i> June 13, 2017</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post-image">
                                    <img src="http://via.placeholder.com/70x54" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <a href="#">Sed ut perspiciatis unde omnis iste</a>
                                    <span><i class="fa fa-calendar"></i> June 20, 2017</span>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="recent-post-image">
                                    <img src="http://via.placeholder.com/70x54" alt="">
                                </div>
                                <div class="recent-post-info">
                                    <a href="#"> Dolorum odit temporibus </a>
                                    <span><i class="fa fa-calendar"></i> June 25, 2017</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>archives</h4>
                            <div class="widget-link">
                                <ul>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> June <span class="pull-right">20</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> January <span class="pull-right">30</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> March <span class="pull-right">08</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> November <span class="pull-right">04</span></a>
                                    </li>
                                    <li>
                                        <a href="#"> <i class="fa fa-angle-right"></i> December <span class="pull-right">13</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>tags</h4>
                            <div class="">
                                <ul class="tag-cloud">
                                    <li><a href="#">fish</a></li>
                                    <li><a href="#">potato</a></li>
                                    <li><a href="#">beans</a></li>
                                    <li><a href="#">meat</a></li>
                                    <li><a href="#">coffee</a></li>
                                    <li><a href="#">tea</a></li>
                                    <li><a href="#">pizza</a></li>
                                    <li><a href="#">drink</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!----sidebar end---->
            </div>
        </div>
    </div>
    <!--section4-start-->
    <section class="editable fs_map_wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="map">
                    <div class="ed_element_wrapper_map">
                        <div id="hs_map" class="ed_map" data-address="address">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48630.85490218961!2d-111.83104849352239!3d40.377196268505074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d811acafcafed%3A0x85dd549fe5e139d4!2sAmerican+Fork%2C+UT+84003%2C+USA!5e0!3m2!1sen!2sin!4v1492068120481"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--section5-start-->
    <section class="fs_footer_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer_about ed_box">
                        <img src="images/footer_logo.png" alt="" width="152" height="40" class="ed_image" />
                        <p class="ed_paragraph">There are many variations of passages <br/>of Lorem Ipsum available, but the majority<br> have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer_box">
                        <h1 class="footer_heading ed_heading">Our Menu</h1>
                        <ul class="footer_menus ed_element_sorting">
                            <li> <a href="#" class="ed_link">pizza</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">French Fries </a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Burger</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Drinks</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">pizza</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Burger</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Drinks</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">pizza</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">pizza</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Burger</a> </li>
                            <li><span>|</span></li>
                            <li> <a href="#">Drinks</a> </li>
                            <li><span>|</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer_box ed_box">
                        <h1 class="footer_heading">Contact Information</h1>
                        <ul class="footer_con_info">
                            <li><span class="ed_head">Email:</span><a href="#"><span class="con_text">support@templatebundle.net</span></a></li>
                            <li><span class="ed_head">Address:</span><span class="con_text ed_paragraph">3-N331 Lakewood Dr, West Chicago,CT 06074</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="fs_copyright">
                        <p>Copyright &copy; 2017 templatebundle.net. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
		</div>	
    </section>
    <!--js start-->
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/owl.carousel.js" type="text/javascript"></script>
    <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
	<!--date-picker js-->
	<script src="js/plugins/datepicker/jquery-ui.js"></script>
	<!--custom js-->
    <script src="js/custom.js" type="text/javascript"></script>
    <!--js end-->
</body>

</html>